body {
    background-color: gray;
    font-family: Arial, sans-serif;
    font-size: 1.1em;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    text-decoration: underline;
    color: darkslategray;
}