body {
    background-color: gray;
    font-family: Arial, sans-serif;
    font-size: 1.1em;
}

a.link {
    text-decoration: none;
    color: black;
}

hover:a.link {
    text-decoration: underline;
}